*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1c1917;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 24px;
    background-color: #292524;
}
.navegacion {
    display: flex;
    gap: 24px;
}

.enlace-navegacion {
    text-decoration: none;
    color: #d6d3d1;
}
.logo{
    text-decoration: none;
    color: #f97316;
    font-size: 24px;
    font-weight: bold;
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-left: 20px;
}
.boton-hablemos{
    text-decoration: none;
    color: #f97316;
    background-color: #292524;
    border-radius: 15px;
    border: 2px solid #f97316;
    padding: 7px 18px;
    font-weight: bold;
   
}
.principal{
    display: flex;
    width: 90%;
    min-height: 500px;
    max-width: 1200px;
    margin: 100px auto;
    

}
.principal-izquierda{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.principal-imagen{
    flex: 1;
    min-height: 250px;
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    min-width: 570px;

}
.principal-contenido{
    flex: 1;
    padding: 20px 0 20px 20px;
}
.principal-contenido h1{
    color: #fafaf9;
    font-size: 36px;
    margin: 12px 0;
    line-height: 1.05;
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.principal-contenido p {
    color: #a8a29e;
    font-size: 14px;
    line-height: 1.5;
    max-width: 520px;
    margin: 0 0 18px 0;
}
.servicios{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    
}
.servicio{
    display: flex;
    flex: 1;
    padding: 14px; 
    
}
.boton-trabajos {
    display: inline-block;
    text-decoration: none;
    color: #1c1917;
    background-color: #f97316;
    padding: 9px 16px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
}




