*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1c1917;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 24px;
    background-color: #292524;
}
.navegacion {
    display: flex;
    gap: 24px;
}

.enlace-navegacion {
    text-decoration: none;
    color: #d6d3d1;
}
.logo{
    text-decoration: none;
    color: #f97316;
    font-size: 24px;
    font-weight: bold;
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-left: 20px;
}
.boton-hablemos{
    text-decoration: none;
    color: #f97316;
    background-color: #292524;
    border-radius: 15px;
    border: 2px solid #f97316;
    padding: 7px 18px;
    font-weight: bold;
    margin-right: 7px;
   
}
.principal{
    display: flex;
    width: 90%;
    min-height: 500px;
    max-width: 1200px;
    margin: 100px auto;
    

}
.principal-izquierda{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.principal-imagen{
    display: flex;
    min-height: 250px;
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    min-width: 600px;
    border: 5px solid transparent; border-radius: 10px;



}
.principal-contenido{
    flex: 1;
    padding: 20px 0 20px 20px;
}
.principal-contenido h1{
    color: #fafaf9;
    font-size: 36px;
    margin: 12px 0;
    line-height: 1.05;
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.principal-contenido p {
    color: #a8a29e;
    font-size: 14px;
    line-height: 1.5;
    max-width: 520px;
    margin: 0 0 18px 0;
}
.servicios {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 35px;
    margin-top: 35px;
    width: 420px;
}
.servicio {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 8px;
    gap: 10px;
    background-color: #292524;
    border-radius: 6px;
    margin-top: 3px;
}
.boton-trabajos {
    display: inline-block;
    text-decoration: none;
    color: #1c1917;
    background-color: #f97316;
    padding: 9px 16px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: bold;
}
.servicio-imagen {
    width: 70px;
    min-width: 70px;
    height: 55px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}
.servicio-contenido{
    margin-left: 2px;

}
.servicio-contenido h2{
    font-size: 17px;
    color: #f97316; 
    margin-top: 1px;
}
.servicio-contenido p {
    display: flex;
    color: #d6d3d1;
    font-size: 11px;
    line-height: 1.3;
}
.imagen-branding {
    background-image: url("./images/serv_1.jpg");
    min-width:110px;
    height: 80px;
    margin-left: 2px;
}

.imagen-arte {
    background-image: url("./images/serv_2.jpg");
    min-width:110px;
    height: 80px;
    margin-left: 2px;
}

.imagen-fotografia {
    background-image: url("./images/serv_3.jpg");
    min-width:110px;
    height: 80px;
    margin-left: 2px;
}



